<%= render :partial => 'shared/title', :locals => { :title => 'Conference Attendee Sign-in' } %>

<div class="container_12 pad3">
  <div class="grid_12">
    <div class="login whitebox">

      <%= form_for @user, :url => attendee_login_path do |f| %>
        <%= field_set_tag 'Login' do %>
          <ul>
            <li><%= f.label :username, 'Username:' %><%= f.text_field :username %></li>
            <li><%= f.label :password, 'Password:' %><%= f.password_field :password %></li>
            <li><%= submit_tag 'Login', :class => 'submit' %></li>
          </ul>
        <% end -%>
      <% end -%>

      <p><%= t('.login_message') %></p>
      <%= link_to image_tag('twitter_64.png', :alt => 'Twitter'), '/auth/twitter/callback' %>
      <%= link_to image_tag('google_64.png', :alt => 'Google'), '/auth/google' %>
      <%= link_to image_tag('github_64.png', :alt => 'GitHub'), '/auth/github/callback' %>
    </div>
    <div class="clear"></div>
  </div>
</div>

