<div class="container_12">
  <div class="overflow p3 pad3">
    <h3>Talk Submitted</h3>
  </div>
  <ul class="list4">
    <li>Title</li>
    <li><%= talk.title %></li>
    <li>Abstract</li>
    <li><%= talk.abstract %></li>
    <li>Talk Type</li>
    <li><%= talk.talk_type %></li>
    <li>Video Approval</li>
    <li><%= talk.video_approval %></li>
    <li>Comments</li>
    <li><%= talk.comments %></li>
    <li>Prereqs</li>
    <li><%= talk.prereqs %></li>
    <li>Audio/Visual Requirements</li>
    <li><%= talk.av_requirement %></li>
    <li>Tags</li>
    <li><%= talk.tag_list %></li>
  </ul>
  <div class="overflow p3">
    <h3>Speaker Info</h3>
  </div>
  <ul class="list4">
    <li>Name</li>
    <li><%= speaker_for(talk) %></li>
    <li>Email</li>
    <li><%= speaker.email %></li>
    <li>Twitter ID:</li>
    <li><%= link_to "@#{speaker.twitter_id}", "http://twitter.com/#{speaker.twitter_id}" %></li>
    <li>Company</li>
    <li><%= link_to speaker.company, speaker.company_url %></li>
    <li>Bio</li>
    <li><%= speaker.bio %></li>
    <li>Phone</li>
    <li><%= speaker.phone %></li>
    <li>City</li>
    <li><%= speaker.city %></li>
    <li>State</li>
    <li><%= speaker.state %></li>
    <li>Country</li>
    <li><%= speaker.country %></li>
  </ul>
</div>
<div class="push"></div>
