<h2>Talk Submitted</h2>
<h2>Talk Info</h2>
<p>
  <table>
    <tr>
      <th>Title</th>
      <td><%= @talk.title %></td>
    </tr>
    <tr>
      <th>Abstract</th>
      <td><%= @talk.abstract %></td>
    </tr>
    <tr>
      <th>Talk Type</th>
      <td><%= @talk.talk_type %></td>
    </tr>
    <tr>
      <th>Talk Length</th>
      <td><%= @talk.talk_length %></td>
    </tr>
    <tr>
      <th>Video Approval</th>
      <td><%= @talk.video_approval %></td>
    </tr>
    <tr>
      <th>Comments</th>
      <td><%= @talk.comments %></td>

    </tr>
    <tr>
      <th>Prereqs</th>
      <td><%= @talk.prereqs %></td>
    </tr>
    <tr>
      <th>Audio/Visual Requirements</th>
      <td><%= @talk.av_requirement %></td>
    </tr>
  </table>
<h2>Speaker Info</h2>
<table>
  <tr>
    <th>Name</th>
    <td><%= @talk.speakers[0].first_name + " " +  @talk.speakers[0].last_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @talk.speakers[0].email %></td>
  </tr>  
  <tr>
    <th>Bio</th>
    <td><%= @talk.speakers[0].bio %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= @talk.speakers[0].phone %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%= @talk.speakers[0].state %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= @talk.speakers[0].country %></td>
  </tr>    

</table>
</p>
