<h1>Submit a talk</h1>
<%= semantic_form_for [@speakers, @talk] do |talk_form| %>
  <%= talk_form.inputs do %>
    <%= talk_form.input :title %>
    <%= talk_form.input :abstract %>
    <%= talk_form.input :talk_type, :as => :select, :collection => Talk.talk_types %>
    <%= talk_form.input :track, :as => :select, :collection => Talk.tracks%>
    <%= talk_form.input :talk_length, :as => :select, :collection => Talk.talk_lengths%>
    <%= talk_form.input :video_approval, :as => :select, :collection => Talk.video_approvals %>
    <%= talk_form.input :comments %>
    <%= talk_form.input :prereqs %>
    <%= talk_form.input :av_requirement %>
    <%= talk_form.inputs :name => "Speaker", :for  => :speakers do |speaker_form| %>
      <%= speaker_form.input :first_name %>
      <%= speaker_form.input :last_name %>
      <%= speaker_form.input :email %>
      <%= speaker_form.input :bio %>
      <%= speaker_form.input :phone %>
      <%= speaker_form.input :state, :as => :select, :collection => Carmen::state_codes %>
      <%= speaker_form.input :country, :as => :select, :collection =>  Carmen::country_codes %>
    <% end %>
  <% end %>   
  <%= talk_form.buttons do %>
    <%= talk_form.commit_button %>
  <% end %>
<% end %>
