<%= render '/shared/title', :title => t('.change_password') %>

<div class="container_12">
  <%= devise_error_messages! %>

  <div class="grid_12 pad3">
    <div class="login whitebox">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= field_set_tag '' do %>
          <ul>
          	<li><%= f.label :password, t('.new_password') %> <%= f.password_field :password %></li>
            <li><%= f.label :password_confirmation, t('.confirm_password') %> <%= f.password_field :password_confirmation %></li>
            <li><%= submit_tag t('.submit'), :class => 'submit' %></li>
          </ul>
        <% end -%>
      <% end %>

    </div>
  </div>
</div>
