<%= render '/shared/title', :title => t('.forgot_password') %>

<div class="container_12">
  <%= devise_error_messages! %>
  <div class="grid_12 pad3">
    <div class="login whitebox">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
        <%= field_set_tag '' do %>
        <ul>
          <li><%= f.label :email, t('.email') %> <%= f.email_field :email %></li>
          <li><%= submit_tag t('.send_instructions'), :class => 'submit' %></li>
        </ul>
        <% end -%>
      <% end %>
    </div>
  </div>
</div>
