<div class="container_12">
  <% schedule_sessions.each_pair do |session_day, session_times| %>
    <div class="p3">
      <h3><%= session_day %></h3>
        <ul class="free clearfix schedule-header">
          <% room_names = room_names_for(session_day, formats) %>
          <% room_names.each do |room| %>
            <li class="header"><%= room %></li>
          <% end%>
        </ul>
      <% session_times.each_pair do |session_time, sessions| %>
        <ul class="free clearfix schedule">
          <li class="column1">
            <%= time_period_for session_time %>
          </li>

          <% sessions.each_with_index do |session, index| %>
            <% spacers_needed_count(room_names, session, index).times do %>
              <li class="cell"></li>
            <% end %>

            <% if defined?(cache_key) && show_schedule_selection?(cache_key) -%>
            <li title="Click to Attend" class="column2 miss attend" id="<%= session.id %>">
              <%= image_tag 'loader.gif', :class => 'hidden loading' %>
            </li>
            <% end -%>
            <li class="cell shadeable" data-track="<%= track_name session %>">
              <% if display_track && is_technical_track?(session) %>
              <span class="track" style="background: #<%= track_color session %>"><%= track_name session %></span>
              <% end -%>
              <div class="title"><%= link_to session.talk.title, session %></div>
              <span class="speaker"><%= speaker_for session.talk %></span>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </div>
  <% end -%>
</div>
