<div class="container_12">
  <% schedule_sessions.each_pair do |session_day, session_times| %>
    <div class="p3">
      <h3><%= session_day %></h3>
      <% session_times.each_pair do |session_time, sessions| %>
        <ul class="free clearfix">
          <li class="column1" style="line-height: <%= time_column_height sessions.size %>%">
            <%= time_period_for session_time %>
          </li>
          <% sessions.each do |session| %>
            <% if defined?(cache_key) && show_schedule_selection?(cache_key) -%>
            <li title="Click to Attend" class="list-selector miss attend" id="<%= session.id %>">
              <%= image_tag 'loader.gif', :class => 'hidden loading' %>
            </li>
            <% end -%>
            <li class="column3 shadeable" data-track="<%= track_name session %>">
              <div class="title"><%= link_to session.talk.title, session %></div>
              <span class="speaker"><%= speaker_for session.talk, true %></span> &middot;
              <span class="room"><%= room_for session %></span>
              <% if (defined?(display_track) && display_track) && is_technical_track?(session) %>
              &middot;
              <span class="track" style="background: #<%= track_color session %>"><%= track_name session %></span>
            <% end -%>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </div>
  <% end -%>
</div>
