<div id="main" class="shape">
  <div class="container_12 pad3">
    <div class="grid_11">
      <div class="pic">
        <%= image_tag attendee.gravatar_url %>
      </div>

      <h3><%= attendee.full_name %></h3>
      <p></p>
      <h5><%= link_to attendee.company, attendee.company_url %></h5>
      <p><%= link_to t('.update_profile'), edit_attendee_path %></p>
      <div class="list4 clearfix">
        <div>Home Town</div>
        <div><%= attendee.city %></div>
        <div>Blog</div>
        <div><%= link_to attendee.blog_url, attendee.blog_url %></div>
        <div>Twitter</div>
        <div><%= twitter_link attendee.twitter_id %></div>
        <div>GitHub</div>
        <div><%= github_link attendee.github_id %></div>
        <div>WorkForPie</div>
        <div><%= work_for_pie_link attendee.work_for_pie_id %></div>
      </div>
      <h4 class="pad3"><%= t('.conference_schedule') %></h4>
      <%= render :partial => schedule_partial(attendee), :locals => { :sessions => attendee.conference_sessions } %>
    </div>
  </div>
</div>



