<div id="main" class="shape">
  <div class="container_12 pad3">
    <div class="grid_11">
      <div class="pic">
        <%= image_tag attendee.gravatar_url %>
      </div>

      <h3><%= attendee.full_name %></h3>
      <p></p>
      <h5><%= company_link(attendee) %></h5>

      <% if is_current_attendee?(attendee) -%>
        <p><%= link_to t('.update_profile'), edit_attendee_path %></p>
      <% end -%>

      <div class="list4 clearfix">
        <% unless attendee.city.blank? -%>
          <div>City</div>
          <div><%= content_tag(:strong, attendee.city) %></div>
        <% end -%>

        <% unless attendee.blog_url.blank? -%>
          <div>Blog</div>
          <div><%= link_to content_tag(:strong, attendee.blog_url), attendee.blog_url %></div>
        <% end -%>

        <% unless attendee.twitter_id.blank? -%>
          <div>Twitter</div>
          <div><%= twitter_link attendee.twitter_id %></div>
        <% end -%>

        <% unless attendee.github_id.blank? -%>
          <div>GitHub</div>
          <div><%= github_link attendee.github_id %></div>
        <% end -%>

        <% unless attendee.work_for_pie_id.blank? -%>
          <div>WorkForPie</div>
          <div><%= work_for_pie_link attendee.work_for_pie_id %></div>
        <% end -%>

        <% unless attendee.conference_sessions.empty? -%>
          <div>My Schedule</div>
          <div><%= link_to content_tag(:strong, t('.download_ical')), attendee_path(attendee, :format => :ics) %></div>
        <% end -%>
      </div>
      <h4 class="pad3"><%= t('.conference_schedule') %></h4>
      <%= render schedule_partial(attendee), :sessions => attendee.conference_sessions %>
    </div>
  </div>
</div>



