<%= render 'shared/title',  :title => t('.attendee_login_title') %>

<div class="container_12">
  <%= render '/shared/flash', :flash => flash %>
  <div class="grid_12 pad3">
    <div class="login whitebox">

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= field_set_tag 'Login' do %>
          <ul>
            <li><%= f.label :email, t('.email') %><%= f.email_field :email %></li>
            <li><%= f.label :password, t('.password') %><%= f.password_field :password %></li>
            <% if devise_mapping.rememberable? -%>
              <li><%= f.label :remember_me, t('.remember_me') %> <%= f.check_box :remember_me %></li>
            <% end -%>
            <li><%= submit_tag t('.login'), :class => 'submit' %></li>
          </ul>
        <% end -%>
      <% end %>
      <p><%= t('.login_message') %></p>
      <%= link_to image_tag('twitter_64.png', :alt => 'Twitter'), external_auth_path(:twitter) %>
      <%= link_to image_tag('google_64.png', :alt => 'Google'), external_auth_path(:google) %>
      <%= link_to image_tag('github_64.png', :alt => 'GitHub'), external_auth_path(:github) %>
    </div>
    <div class="clear"></div>
  </div>
</div>



