<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render("/refinery/site_bar", :head => true) -%>
  <%= render "/layouts/custom_head" %>
  <body>
    <%= site_bar -%>
    <%= render "/refinery/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="container">
      <header>
        <%= render "/shared/header" -%>
      </header>
      <%= yield %>
      <div class="push"></div>
    </div>
    <footer>
    <%= render "/shared/footer" -%>
    </footer>
    <%= render '/layouts/custom_javascripts' %>
    <%= render '/refinery/javascripts' %>
    <%= render '/layouts/page_specific_javascripts' %>
  </body>
</html>
